/* small devices | mobile */
@media screen and (max-width: 576px) {
  .navbar,
  .menu-container,
  .menu {
    flex-direction: column;
  }
  .navbar,
  .menu-container {
    gap: 62px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .banner-wrapper {
    padding: 30px;
  }
  .banner-content {
    width: 100%;
    justify-content: center;
  }
  .content-inner {
    padding: 100px 0px;
  }
  .banner-img {
    width: 100%;
  }
}

/* medium devices | table */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar,
  .menu-container,
  .menu {
    flex-direction: column;
  }
  .navbar,
  .menu-container {
    gap: 62px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .banner-wrapper {
    padding: 30px;
  }
  .banner-content {
    width: 100%;
    justify-content: center;
  }
  .content-inner {
    padding: 100px 0px;
  }
  .banner-img {
    width: 100%;
    padding: 0 100px;
  }
}
