@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.btn {
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to right, #ff42a5, #ff42a5);
  color: #fff;
}

.btn-secondary {
  background-color: #4ec5f7;
  color: #fff;
}

.mr-24 {
  margin-right: 25px;
}

.text-gradient {
  background: linear-gradient(to bottom, #f948b2, #8758f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header */

/* nav styles */
nav {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
  padding: 35px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo img {
  width: 85px;
}

.logo-title {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}

.logo-title > span {
  color: #ff42a5;
}

.menu-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #3c354f;
  font-weight: 500;
}

.social-media {
  background-color: rgba(11, 2, 35, 0.1);
  padding: 15px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-media i {
  font-size: 1.5rem;
}

.social-media .youtube {
  color: #f61c0d;
}

.social-media .tiktok {
  color: #000;
}

.social-media > span {
  font-size: 1.125rem;
  color: #3c354f;
  font-weight: 500;
}

/* banner section */
.banner-wrapper {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.content-inner {
}

.banner-content h3 {
  font-size: 3rem;
  color: #0b0223;
  font-weight: 600;
}

.banner-title {
  font-weight: 800;
  font-size: 5.9rem;
  margin-bottom: 30px;
}

.banner-features ul {
  padding-left: 5px;
}

.banner-features li {
  color: #534c64;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  list-style-type: none;
}

.banner-features li i {
  margin-right: 10px;
}

.btn-group {
  margin-top: 40px;
}

.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  margin-top: 90px;
}

/* we are gamer section */
.we-gamer {
  background-color: rgba(255, 66, 165, 0.03);
  margin-top: 0;
  padding: 90px 0;
}

.we-gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  padding: 0 50px;
}

.we-gamer-img-container {
  width: 55%;
}

.we-gamer-img-container img {
  width: 100%;
}

.we-gamer-content {
  width: 45%;
  padding: 10px;
  text-align: right;
}

.section-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.section-description {
  font-weight: 400;
  font-size: 1.12rem;
  color: #534C64;
  margin-bottom: 32px;
}

.purpose {
  margin-top: 20px;
}

.purpose p {
  color: #534C64;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.purpose h3 {
  color: #534C64;
  font-size: 2rem;
  font-weight: 700;
}
